/* CSS Reset  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Times New Roman";
}
/* Start nav */
header{
    height: 100vh;
    width:29%;
    background-color:#ffffff;
    position: fixed;
    top:0;
}
.logo{
    margin-left: -6.5vw;

}
.list-container{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.list-container > div{
  padding: 3vh;
  font-size: 25px;
  color: #0f1419; 
  cursor: pointer;
  text-align: center;
}

.list-container > div > span{
    padding-right: 30px;
}
.btn{
    background-color: rgb(28 , 155,240 );
    height:55px;
    border-radius:9999px;
    cursor:pointer;
    font-size:1.4rem;
    color:white;
    font-weight:700;
    outline-style: none;
    text-align: center;
    vertical-align: center;
    border: none;
}
.btn:hover{
    opacity: .9;
}
.large{
    width:60%;
    margin-top: 2vh;
}
/* End nav */

/* Start tweet */
.list-container > div:hover{
    background-color:#d3d0d0;
    border-radius: 9999px;
    text-align: center;
    transition: all 0.6s;
}
.text{
    margin-top:10vh;
}

.hide{
    display: none;
}

.text-headline{
    display: flex;
    padding-left: 5vw;
    position:relative;
    bottom: 10vh;
}
.text-headline > div {
    padding-right: 5px;
}
.text-content{
    padding: 20px 5vw;
    color:red;
}
.like{
    display: flex;
    padding-left: 5vw;
    margin-bottom: 4vh;
    cursor: pointer;
}
.count{
    padding-left: 10px;
}
.is-like{
    color: red;
}
/* End tweet */

/*  Start search */
.search{
    margin-left: 45%;
    position: absolute;
    top: 0;
    width: 25%;
}
.search i{
    position: relative;
    bottom: 30px;
    left: 20px;
    color: #677682;
    cursor: pointer;
}
.user-to-search{
    background-color: #f7f9f9;
    border-radius: 10px;
}

.search-container{
    margin-top: 10vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-direction: row;
    padding-right: 0 20px; 
}
.identity{
    width: 120px;
}
.first-last-name{
    font-weight: bold;

}
.user-name{
    font-size: 14px;
    color:#759fcb;
}
.search-tab{
    position: absolute;
    top: 5px;
}
.search input{
    outline: none;
    border: none;
    width: 24vw;
    background-color: rgb(239,243,244);
    border-radius: 40px;
    height: 7vh;
    padding-left: 50px;
    font-size: 14px;
}
.username-profile{
    width:10%;
    border-radius: 50%;
}

.username-profile > img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 0;
    
}
.left-username{
    width:60px;
    text-align: center;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 50%;
}
.left-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
    width:70%;
    cursor:default;

}
#left-profile-img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.left-user-profile{
    font-size:14px;
    margin-left: -59px;

}
.left-user-profile > span{
    font-weight: bold;
}
.left-hashtag-name{
    color: #7b8892;
    margin-top: 1px;
}
.fa-ellipsis{
    font-size:16px;
}
.black{
  background-color: black;
  width:75px;
  height: 30px;
  font-size: 14px;
}
.black:hover{
    opacity: .8;
}
.not-found{
    margin-top :15vh;
    font-size: 20px;
    font-weight:bold;
}
/* End search */